n8n-mpcl-workflow/workflows/MP Licitaciones Baseline.json
{
  "name": "MP Licitaciones Baseline",
  "nodes": [
    {
      "parameters": {},
      "id": "578b2ead-32ed-48e2-af44-57dab58c4215",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1408,
        -64
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bed8d402-8f6a-4062-953a-7ced913ec339",
              "name": "companyName",
              "value": "Transportes Cordillera",
              "type": "string"
            },
            {
              "id": "4c2e5ff9-3d76-4cd7-a0b6-ef8a39bdb4b2",
              "name": "companyEmail",
              "value": "eduardomellaramirez@gmail.com",
              "type": "string"
            },
            {
              "id": "3a274f29-c85f-4636-9f1f-a054b3e3b9b5",
              "name": "sector",
              "value": "transporte",
              "type": "string"
            },
            {
              "id": "3a274f29-c85f-4636-9f1f-a054b3e3b9b6",
              "name": "tags",
              "value": "transporte,viajes,pasajeros,furg칩n,colectivo,traslado,escolares,adultos mayores,turismo,excursiones,rutas,movilidad,servicio privado,transfer,giras,estudiantiles",
              "type": "string"
            },
            {
              "id": "38e1da9d-0e09-4f69-ab3b-4860e0e56cbf",
              "name": "ruburos",
              "value": "78111800, 78101800",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a85c909a-ff8d-4c94-bccd-6f28f4dbec13",
      "name": "Set Client Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1264,
        -64
      ]
    },
    {
      "parameters": {
        "content": "## 游늶 Valores V치lidos para Campo SECTOR\n\nEn el nodo \"Set Client Data\", el campo **sector** acepta los siguientes valores:\n\n- `agricultura_materias_primas`\n- `metales_aleaciones`\n- `quimicos`\n- `caucho_resinas`\n- `papel`\n- `combustibles`\n- `mineria`\n- `maquinaria_agricola`\n- `maquinaria_industrial`\n- `maquinaria_servicios`\n- `software`\n- `salud`\n- `construccion`\n- `transporte`\n- `materiales_construccion`\n- `vehiculos_transporte`\n- `componentes_electricos`\n\n**Importante**: Escribir el valor exacto (copiar/pegar)",
        "height": 464,
        "width": 391
      },
      "id": "013f812d-ce53-4fe7-afe7-3d43873ab63e",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1408,
        144
      ]
    },
    {
      "parameters": {
        "operation": "webSearch",
        "idOrden": 3,
        "rubros": "={{ $json.rubros }}"
      },
      "id": "72cd8a13-dd62-4fed-b8a5-f2bb362e3c44",
      "name": "Search Tenders",
      "type": "n8n-nodes-mpcl.mercadoPublico",
      "typeVersion": 1,
      "position": [
        -976,
        -64
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Format tender data for LLM analysis\nconst items = $input.all();\n\nconsole.log('=== FORMAT TENDERS FOR LLM ===');\nconsole.log('Items received from Search Tenders:', items.length);\n\nif (!items || items.length === 0) {\n  console.warn('WARNING: No items received from Search Tenders');\n  return [{ json: { \n    count: 0,\n    tenders: [],\n    markdown: '',\n    hasData: false\n  }}];\n}\n\nif (items.length > 0) {\n  console.log('First item keys:', Object.keys(items[0].json));\n  console.log('First item sample:', JSON.stringify(items[0].json, null, 2).substring(0, 500));\n}\n\nconst formattedTenders = items.map((item, index) => {\n  const t = item.json;\n\n  let montoValue = 0;\n  if (t.monto) {\n    if (typeof t.monto === 'string') {\n      montoValue = parseInt(t.monto.replace(/\\./g, ''), 10) || 0;\n    } else {\n      montoValue = t.monto;\n    }\n  }\n\n  return {\n    numero: index + 1,\n    codigo: t.id || 'N/A',\n    nombre: t.title || 'Sin t칤tulo',\n    descripcion: t.description || 'Sin descripci칩n',\n    monto_estimado: montoValue,\n    fecha_publicacion: t.fechaPublicacion || 'N/A',\n    fecha_cierre: t.fechaCierre || 'N/A',\n    tipo: t.tipo || 'N/A',\n    estado: t.estado || 'N/A',\n    organismo: t.organismo || 'N/A',\n    link: t.link || ''\n  };\n});\n\nconsole.log('Formatted tenders count:', formattedTenders.length);\nconsole.log('First formatted tender:', formattedTenders[0]);\n\n// Generate Markdown string for the LLM (truncate descriptions to 400 chars)\nconst markdown = formattedTenders.map(t => `\n---\nC칍DIGO: ${t.codigo}\nNOMBRE: ${t.nombre}\nDESCRIPCI칍N: ${t.descripcion.substring(0,400)}...\n`).join('');\n\nreturn [{\n  json: {\n    count: formattedTenders.length,\n    tenders: formattedTenders,\n    markdown: markdown,\n    hasData: true\n  }\n}];"
      },
      "id": "13a6687a-1dc5-4c87-8a78-774be5b9e000",
      "name": "Format Tenders for LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -832,
        -64
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extraer IDs de licitaciones coincidentes del primer LLM\nconst items = $input.all();\nconsole.log('=== EXTRAER IDS COINCIDENTES ===');\n\nif (!items || items.length === 0) {\n  console.error('ERROR: No se recibieron items del LLM de IDs');\n  return [{ json: { matching_ids: [], matching_tenders: [], total_tenders: 0 } }];\n}\n\nconst response = items[0].json;\nconsole.log('Response structure:', JSON.stringify(response, null, 2).substring(0, 500));\n\nlet matchingIds = [];\nlet responseText = '';\n\n// Extraer el texto de respuesta del LLM\nif (response.content && Array.isArray(response.content) && response.content[0] && response.content[0].type === 'text' && response.content[0].text) {\n  // Formato Anthropic con content array\n  responseText = response.content[0].text;\n  console.log('Formato Anthropic directo detectado');\n} else if (response.content && response.content.parts && response.content.parts[0] && response.content.parts[0].text) {\n  // Formato Gemini directo desde n8n LLM node\n  responseText = response.content.parts[0].text;\n  console.log('Formato Gemini directo detectado');\n} else if (response.content && typeof response.content === 'string') {\n  // OpenAI formato string directo\n  responseText = response.content;\n  console.log('Formato OpenAI directo detectado');\n} else if (response.message && response.message.content) {\n  if (typeof response.message.content === 'string') {\n    responseText = response.message.content;\n  } else if (response.message.content.parts && response.message.content.parts[0] && response.message.content.parts[0].text) {\n    // Formato Gemini con content.parts[].text\n    responseText = response.message.content.parts[0].text;\n  } else if (typeof response.message.content === 'object') {\n    responseText = JSON.stringify(response.message.content);\n  }\n} else if (response.message) {\n  responseText = response.message;\n} else if (typeof response === 'string') {\n  responseText = response;\n}\n\nconsole.log('Response text extracted:', responseText.substring(0, 200));\n\n// Procesar texto de respuesta para extraer c칩digos separados por comas\nif (responseText.trim()) {\n  // Limpiar el texto de respuesta y dividir por comas\n  const codes = responseText\n    .split(',')\n    .map(code => code.trim())\n    .filter(code => code.length > 0 && /^\\d{4}-\\d{2,3}-[A-Z]{1,2}\\d{2}$/.test(code)); // Validar formato de c칩digo\n  \n  matchingIds = codes;\n  console.log('Extracted codes from comma-separated text:', matchingIds);\n} else {\n  console.log('No valid response text found');\n}\n\nconsole.log('IDs coincidentes encontrados:', matchingIds);\nconsole.log('Tipo de matchingIds:', Array.isArray(matchingIds), 'Longitud:', matchingIds.length);\n\n// Obtener datos originales de licitaciones del nodo Formatear para LLM\nconst tenderData = $('Format Tenders for LLM').first().json.tenders || [];\nconsole.log('Total licitaciones originales:', tenderData.length);\n\nif (tenderData.length > 0) {\n  console.log('Primer tender codigo:', tenderData[0].codigo);\n}\n\n// Extraer solo las licitaciones coincidentes (m치s eficiente que eliminar no coincidentes)\nconst matchingTenders = tenderData.filter(tender => {\n  const matches = matchingIds.includes(tender.codigo);\n  if (matches) {\n    console.log('Match found:', tender.codigo);\n  }\n  return matches;\n});\n\nconsole.log('Licitaciones coincidentes extra칤das:', matchingTenders.length);\n\nreturn [{\n  json: {\n    matching_ids: matchingIds,\n    matching_tenders: matchingTenders,\n    total_tenders: tenderData.length\n  }\n}];"
      },
      "id": "7030473d-a14e-4bc9-8415-60978794e6de",
      "name": "Filter Matching Tenders",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        -64
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get all tender items from the filtered results\nconst tenders = $input.all();\n\nconsole.log('=== CONVERT TO HTML TABLE ===');\nconsole.log('Tenders received:', tenders.length);\n\nif (tenders.length > 0) {\n  console.log('First tender structure:', Object.keys(tenders[0].json));\n  console.log('First tender sample:', tenders[0].json);\n}\n\n// Check if we have results\nconst hasResults = tenders.length > 0 && tenders[0].json && tenders[0].json.matching_tenders && tenders[0].json.matching_tenders.length > 0;\nconsole.log('Has valid results:', hasResults);\n\nif (!hasResults) {\n  console.log('INFO: No valid results - returning empty state');\n  return [{\n    json: {\n      htmlTable: null,\n      tenderCount: 0,\n      hasResults: false\n    }\n  }];\n}\n\n// Get the matching tenders from the filter results\nconst matchingTenders = tenders[0].json.matching_tenders || [];\nconsole.log('Matching tenders to process:', matchingTenders.length);\n\n// Helper function to escape HTML\nconst escapeHtml = (str) => {\n  if (!str) return '';\n  return String(str)\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;')\n    .replace(/'/g, '&#039;');\n};\n\n// Helper to format currency\nconst formatCurrency = (amount) => {\n  if (!amount && amount !== 0) return 'N/A';\n  if (amount === 0) return 'Sin monto especificado';\n  return new Intl.NumberFormat('es-CL', {\n    style: 'currency',\n    currency: 'CLP',\n    maximumFractionDigits: 0\n  }).format(amount);\n};\n\n// Build HTML table\nlet tableHtml = `\n<table border=\"1\" cellpadding=\"8\" cellspacing=\"0\" style=\"border-collapse: collapse; width: 100%; font-family: Arial, sans-serif;\">\n  <thead>\n    <tr style=\"background-color: #f0f0f0;\">\n      <th>C칩digo</th>\n      <th>Nombre</th>\n      <th>Descripci칩n</th>\n      <th>Monto Estimado</th>\n      <th>Fecha Publicaci칩n</th>\n      <th>Fecha Cierre</th>\n      <th>Link</th>\n    </tr>\n  </thead>\n  <tbody>\n`;\n\nmatchingTenders.forEach((tender) => {\n  tableHtml += `\n    <tr>\n      <td>${escapeHtml(tender.codigo)}</td>\n      <td>${escapeHtml(tender.nombre)}</td>\n      <td>${escapeHtml(tender.descripcion)}</td>\n      <td>${formatCurrency(tender.monto_estimado)}</td>\n      <td>${escapeHtml(tender.fecha_publicacion)}</td>\n      <td>${escapeHtml(tender.fecha_cierre)}</td>\n      <td><a href=\"${escapeHtml(tender.link)}\" target=\"_blank\">Ver licitaci칩n</a></td>\n    </tr>\n  `;\n});\n\ntableHtml += `\n  </tbody>\n</table>\n`;\n\nconsole.log('SUCCESS: Generated HTML table with', matchingTenders.length, 'rows');\n\nreturn [{\n  json: {\n    htmlTable: tableHtml,\n    tenderCount: matchingTenders.length,\n    hasResults: true\n  }\n}];"
      },
      "id": "c75c71de-b5b0-4308-86c1-a674a6d3851c",
      "name": "Convert to HTML Table",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        -64
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get client data and HTML table\nconst clientData = $('Set Client Data').first().json;\nconst tableData = $input.first().json;\n\nconsole.log('=== COMPOSE EMAIL ===');\nconsole.log('Table data received:', tableData);\n\nconst companyName = clientData.companyName || 'Estimado cliente';\nconst companyEmail = clientData.companyEmail || '';\nconst tenderCount = tableData.tenderCount || 0;\nconst hasResults = tableData.hasResults !== false;\n\nconsole.log('Company:', companyName);\nconsole.log('Email:', companyEmail);\nconsole.log('Tender count:', tenderCount);\nconsole.log('Has results:', hasResults);\n\n// Compose email\nconst subject = `Licitaciones recomendadas para ${companyName}`;\n\nlet htmlBody;\nlet textBody;\n\nif (!hasResults || tenderCount === 0) {\n  console.log('INFO: Composing NO RESULTS email');\n  // No results - simple message\n  htmlBody = `\n<div style=\"font-family: Arial, sans-serif; max-width: 900px; margin: 0 auto;\">\n  <h2>Hola ${companyName},</h2>\n  \n  <p>Le informamos que en esta oportunidad no hemos encontrado licitaciones que se ajusten a los criterios de b칰squeda de su empresa.</p>\n  \n  <p>Seguiremos monitoreando las publicaciones y le avisaremos cuando encontremos oportunidades relevantes.</p>\n  \n  <br>\n  <p>Saludos cordiales,<br>\n  <strong>ACME Consulting</strong></p>\n</div>\n`;\n\n  textBody = `\nHola ${companyName},\n\nLe informamos que en esta oportunidad no hemos encontrado licitaciones que se ajusten a los criterios de b칰squeda de su empresa.\n\nSeguiremos monitoreando las publicaciones y le avisaremos cuando encontremos oportunidades relevantes.\n\nSaludos cordiales,\nACME Consulting\n`;\n} else {\n  console.log('INFO: Composing email WITH RESULTS');\n  // With results - show table\n  const htmlTable = tableData.htmlTable;\n  console.log('HTML table length:', htmlTable ? htmlTable.length : 0);\n  \n  htmlBody = `\n<div style=\"font-family: Arial, sans-serif; max-width: 900px; margin: 0 auto;\">\n  <h2>Hola ${companyName},</h2>\n  \n  <p>Le informamos que hemos encontrado <strong>${tenderCount} ${tenderCount === 1 ? 'licitaci칩n' : 'licitaciones'}</strong> que recomendamos para su empresa:</p>\n  \n  ${htmlTable}\n  \n  <br>\n  <p>Saludos cordiales,<br>\n  <strong>ACME Consulting</strong></p>\n</div>\n`;\n\n  textBody = `\nHola ${companyName},\n\nLe informamos que hemos encontrado ${tenderCount} ${tenderCount === 1 ? 'licitaci칩n' : 'licitaciones'} que recomendamos para su empresa.\n\nPara ver los detalles, por favor revise el correo en formato HTML.\n\nSaludos cordiales,\nACME Consulting\n`;\n}\n\nconsole.log('Email composed - HTML body length:', htmlBody.length);\nconsole.log('Subject:', subject);\n\nreturn [{\n  json: {\n    to: companyEmail,\n    subject: subject,\n    html: htmlBody,\n    text: textBody\n  }\n}];"
      },
      "id": "f3e6295c-9351-4c01-afc4-d692587a0905",
      "name": "Compose Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        -64
      ]
    },
    {
      "parameters": {
        "fromEmail": "eduardo@attitude.cl",
        "toEmail": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailFormat": "both",
        "text": "={{ $json.text }}",
        "html": "={{ $json.html }}",
        "options": {}
      },
      "id": "7ab48338-a0df-401b-a724-e7920a83827c",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        176,
        -64
      ],
      "webhookId": "5ea5e3e7-3519-44ec-9438-d58fc149a267",
      "credentials": {
        "smtp": {
          "id": "UB4BWxwhDGzwlgTr",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse ruburos from comma-separated string to array\nconst items = $input.all();\n\nconsole.log('=== PARSE RUBUROS ===');\nconsole.log('Items received:', items.length);\n\nif (!items || items.length === 0) {\n  console.log('No items received, returning empty rubros array');\n  return [{\n    json: {\n      rubros: []\n    }\n  }];\n}\n\nconst clientData = items[0].json;\nconsole.log('Client data:', clientData);\n\n// Parse ruburos if present\nlet rubros = [];\nif (clientData.ruburos && typeof clientData.ruburos === 'string') {\n  // Remove spaces and split by comma\n  rubros = clientData.ruburos\n    .split(',')\n    .map(r => r.trim())\n    .filter(r => r !== '' && /^\\d+$/.test(r)); // Only keep numeric codes\n  \n  console.log('Parsed rubros:', rubros);\n  console.log('Rubros count:', rubros.length);\n} else {\n  console.log('No ruburos found or invalid format');\n}\n\n// Return the same data but with parsed rubros as array\nreturn [{\n  json: {\n    ...clientData,\n    rubros: rubros\n  }\n}];"
      },
      "id": "da5e5f6b-394f-42a3-9f62-11ccac4f4fae",
      "name": "Parse Rubros",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        -64
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4-turbo",
          "mode": "list",
          "cachedResultName": "gpt-4-turbo"
        },
        "messages": {
          "values": [
            {
              "content": "Eres un experto en an치lisis de licitaciones p칰blicas chilenas. Tu tarea es identificar qu칠 licitaciones son relevantes para un cliente bas치ndote en sus palabras clave.\n\n游늶 INSTRUCCIONES:\n\n1. ANALIZAR las palabras clave del cliente (separadas por comas)\n2. REVISAR cada licitaci칩n buscando coincidencias en NOMBRE y DESCRIPCI칍N\n3. BUSCAR coincidencias directas Y sem치nticas:\n   - Palabras exactas de las tags del cliente\n   - Sin칩nimos del sector\n   - T칠rminos relacionados\n\n4. Para CADA licitaci칩n relevante:\n   - COPIAR su c칩digo EXACTAMENTE (formato: \"1234-56-AB25\")\n   - M츼XIMO 10 licitaciones\n\n丘멆잺 IMPORTANTE: \n- S칄 GENEROSO en las coincidencias - incluye licitaciones que puedan ser relevantes\n- Los c칩digos aparecen despu칠s de \"C칍DIGO:\" en el texto\n- NUNCA inventes c칩digos nuevos\n- Si hay duda, INCLUYE la licitaci칩n\n\nRESPUESTA: \nDevuelve 칔NICAMENTE los c칩digos relevantes separados por comas, sin ning칰n otro texto o formato. Ejemplo: 1234-56-AB25, 5678-90-CD25, 9012-34-EF25",
              "role": "system"
            },
            {
              "content": "={{ $('Set Client Data').first().json.sector === 'agricultura_materias_primas' ? '游닄 SECTOR: AGRICULTURA Y MATERIAS PRIMAS\\n\\nSin칩nimos clave:\\n- agricultura = agr칤cola = agropecuario = cultivo = producci칩n agr칤cola = explotaci칩n agr칤cola\\n- ganader칤a = ganado = pecuario = crianza = producci칩n animal = explotaci칩n ganadera\\n- materias primas = insumos agr칤colas = productos agr칤colas = recursos naturales\\n\\nT칠rminos aceptados del cat치logo oficial:\\n- Animales: ganado, aves de corral, peces, animales dom칠sticos, animales salvajes, insectos, mariscos, moluscos, crust치ceos, mascotas\\n- Alimentos para animales: alimento para ganado, aves, peces, perros, gatos, roedores, reptiles\\n- Plantas y cultivos: 치rboles, arbustos, flores, plantas con flor, plantas sin flor, productos vegetales, semillas, alm치cigos, bulbos, tallos\\n- Semillas: cereales, hierbas, forraje, especias, flores, cultivos fibrosos, semilleros\\n- Insumos agr칤colas: abonos org치nicos, abonos qu칤micos, fertilizantes, pesticidas, herbicidas, repelentes de plagas, dispositivos para control de plagas\\n- Infraestructura animal: cobertizos, refugios, h치bitats para animales, art칤culos de talabarter칤a, arneses\\n- Residuos: residuos vegetales no alimentarios\\n- Servicios: administraci칩n agr칤cola, estudios de suelos y cultivos, econom칤a agraria, catastros, derechos de aguas\\n- Veterinaria: accesorios y tratamientos para mascotas, productos veterinarios\\n\\nRubros espec칤ficos identificados:\\n- 10101500: Animales dom칠sticos\\n- 10121500: Alimento para ganado\\n- 10161500: 츼rboles y arbustos\\n- 10171500: Abonos org치nicos\\n- 10171600: Abonos qu칤micos\\n- 10171700: Herbicidas\\n- 10191500: Pesticidas o repelentes de plagas\\n- 10151500: Semillas y alm치cigos' : $('Set Client Data').first().json.sector === 'metales_aleaciones' ? '游닄 SECTOR: METALES, ALEACIONES Y MATERIAS PRIMAS INDUSTRIALES\\n\\nSin칩nimos clave:\\n- metales = metal = aleaci칩n = aleaciones = metal칰rgico = sider칰rgico\\n- acero = aceros = acer칤a = productos sider칰rgicos = estructuras met치licas\\n- minerales = mineral = miner칤a = materias primas = recursos mineros = extracci칩n\\n\\nT칠rminos aceptados del cat치logo oficial:\\n- Aceros: aceros b치sicos, aceros r치pidos, aceros especiales, estructuras de acero\\n- Metales base: hierro, aluminio, cobre, zinc, plomo, esta침o, n칤quel\\n- Metales preciosos: oro, plata, platino, paladio\\n- Aleaciones: aleaciones ferrosas, aleaciones no ferrosas, bronces, latones\\n- Minerales: minerales met치licos, minerales no met치licos, tierras y suelos\\n- Productos met치licos: barras, perfiles, chapas, l치minas, tubos, ca침er칤as met치licas\\n- Materias primas: cuero, pieles, subproductos animales, tejidos naturales\\n- Textiles: tejidos de algod칩n, tejidos de seda, tejidos sint칠ticos, tejidos vegetales, tejidos especiales, telas no tejidas\\n- Desperdicios: desechos met치licos, desechos no met치licos, desperdicios org치nicos, chatarra, reciclaje de metales\\n- Cuerpos s칩lidos: lingotes, bloques, tochos, barras, perfiles estructurales\\n\\nRubros espec칤ficos identificados:\\n- 11171500: Aceros b치sicos\\n- 11171700: Aceros r치pidos\\n- 11101600: Metales\\n- 11101700: Metales base\\n- 11101800: Metales preciosos\\n- 11101500: Minerales\\n- 11191500: Cuerpos s칩lidos de metal\\n- 11141600: Desechos no met치licos\\n- 11141700: Desperdicios org치nicos y de tabaco\\n- 11131500: Cuero, pieles y subproductos animales' : $('Set Client Data').first().json.sector === 'quimicos' ? '游닄 SECTOR: QU칈MICOS Y PRODUCTOS QU칈MICOS\\n\\nSin칩nimos clave:\\n- qu칤micos = productos qu칤micos = sustancias qu칤micas = compuestos qu칤micos = reactivos\\n- aditivos = aditivos qu칤micos = aditivos industriales = mejoradores = estabilizadores\\n- explosivos = pirotecnia = materiales explosivos = p칩lvoras = detonantes\\n\\nT칠rminos aceptados del cat치logo oficial:\\n- Aceites: aceites industriales, aceites lubricantes, aceites hidr치ulicos, aceites sint칠ticos\\n- Aditivos: aditivos para alimentos, aditivos para f치rmacos, aditivos para carburante, aditivos para p칠rdida de fluido\\n- Anti-productos: anti-sedimentos, anti-oxidantes, anti-congelantes, anti-corrosivos\\n- Compuestos: compuestos arom치ticos, compuestos alif치ticos, compuestos de colores, dispersiones, derivados org치nicos\\n- Explosivos: explosivos civiles, explosivos militares, p칩lvoras, detonantes, pirotecnia\\n- Gases: gases industriales, gases comprimidos, gases licuados, gases inertes, gases especiales\\n- Metales qu칤micos: 칩xido de metales, 칩xido de metales raros, metales alcalinos, metales de transici칩n\\n- Pinturas: pinturas industriales, recubrimientos, esmaltes, barnices, tintes, colorantes\\n- Productos qu칤micos: 치cidos, bases, sales, solventes, reactivos, catalizadores\\n- Pol칤meros: resinas, pl치sticos, elast칩meros, pol칤meros sint칠ticos\\n- Productos de limpieza: detergentes industriales, desinfectantes, limpiadores qu칤micos\\n- Tratamientos: tratamientos de agua, tratamientos de superficie, agentes de curado\\n\\nRubros espec칤ficos identificados:\\n- 12181600: Aceites\\n- 12164500: Aditivos para alimentos y f치rmacos\\n- 12162700: Aditivos para p칠rdida de fluido\\n- 12163100: Anti sedimentos\\n- 12162200: Anti-oxidantes\\n- 12352000: Compuestos arom치ticos y alif치ticos\\n- 12171700: Compuestos de colores y dispersiones\\n- 12131500: Explosivos\\n- 12141500: 칍xido de metales\\n- 12141600: 칍xido de metales raros' : $('Set Client Data').first().json.sector === 'software' ? '游닄 SECTOR: SOFTWARE Y TECNOLOG칈A\\n\\nSin칩nimos clave:\\n- software = licencias = sistemas = aplicaciones = programas = plataformas = soluciones inform치ticas\\n\\nT칠rminos aceptados del cat치logo oficial:\\n- Servicios TI: desarrollo, mantenci칩n, soporte, mantenimiento, implementaci칩n, consultor칤a TI, arquitectura de software, integraci칩n, capacitaci칩n, asesor칤a t칠cnica\\n- Productos software: licencias, Microsoft Office, Adobe, VMware, Red Hat, Oracle, SAP, AutoCAD, bases de datos, servidores, antivirus, firewalls\\n- Infraestructura: cloud, ciberseguridad, infraestructura TI, redes, telecomunicaciones, data centers, virtualizaci칩n, almacenamiento\\n- Desarrollo: ingenier칤a de software, desarrollo web, desarrollo m칩vil, apps, portales, sistemas de informaci칩n, ERP, CRM\\n- Actividades: instalaci칩n, configuraci칩n, actualizaci칩n, migraci칩n, integraci칩n, parametrizaci칩n, puesta en marcha\\n- Hardware relacionado: computadores, servidores, equipamiento inform치tico, perif칠ricos, impresoras, esc치neres, monitores\\n- Gesti칩n: administraci칩n de sistemas, gesti칩n de proyectos TI, service desk, mesa de ayuda, soporte t칠cnico\\n- Seguridad: ciberseguridad, seguridad inform치tica, respaldo, backup, recuperaci칩n de desastres, protecci칩n de datos\\n- Comunicaciones: telecomunicaciones, telefon칤a IP, videoconferencia, redes, conectividad, cableado estructurado\\n\\nRubros espec칤ficos identificados:\\n- 81111800: Administraci칩n de sistemas\\n- 81112200: Licenciamiento de software\\n- 43231500: Software de aplicaci칩n\\n- 43232300: Software de desarrollo\\n- 81141500: Contratistas en tecnolog칤as de la informaci칩n\\n- 81101500 - 81102300: Servicios inform치ticos diversos\\n- 82111500 - 82111700: Telecomunicaciones\\n- 80111800: Consultor칤as TI' : $('Set Client Data').first().json.sector === 'salud' ? '游닄 SECTOR: SALUD\\n\\nSin칩nimos clave:\\n- hospital = centro de salud = establecimiento de salud = consultorio = CESFAM = cl칤nica = servicio de salud = centro m칠dico = centro asistencial\\n\\nT칠rminos aceptados del cat치logo oficial:\\n- Establecimientos: hospitales, cl칤nicas, consultorios, CESFAM, SAR, SAPU, centro de salud ambulatoria, policl칤nicos, postas, unidades de emergencia\\n- Servicios m칠dicos: atenci칩n m칠dica, prestaciones de salud, servicios cl칤nicos, atenci칩n primaria, atenci칩n secundaria, atenci칩n terciaria, emergencias, urgencias, telemedicina, teleradiolog칤a\\n- Equipamiento m칠dico: electrocardi칩grafo, electrocardi칩grafo, rayos X, ec칩grafo, tom칩grafo, resonador, monitores m칠dicos, desfibrilador, ventilador, camillas, camas cl칤nicas, instrumental quir칰rgico\\n- Diagn칩stico: ex치menes, laboratorio cl칤nico, imagenolog칤a, radiolog칤a, rayos X, ecograf칤a, tomograf칤a, resonancia magn칠tica, electrocardiograf칤a\\n- Insumos: medicamentos, f치rmacos, drogas, material cl칤nico, insumos hospitalarios, dispositivos m칠dicos, jeringas, gasas, vendajes, guantes, mascarillas\\n- Personal: m칠dicos, enfermeras, t칠cnicos param칠dicos, matronas, kinesi칩logos, nutricionistas, psic칩logos, terapeutas\\n- Especialidades: medicina interna, cirug칤a, pediatr칤a, ginecolog칤a, obstetricia, traumatolog칤a, oftalmolog칤a, cardiolog칤a, neurolog칤a\\n- Procedimientos: cirug칤as, intervenciones, tratamientos, terapias, rehabilitaci칩n, diagn칩stico, atenci칩n, consultas\\n- Servicios de apoyo: aseo hospitalario, alimentaci칩n hospitalaria, lavander칤a hospitalaria, esterilizaci칩n, manejo de residuos hospitalarios\\n- Infraestructura: construcci칩n hospitales, equipamiento hospitalar, mobiliario cl칤nico, sistemas de gases medicinales\\n\\nRubros espec칤ficos identificados:\\n- 42xxxxxx: Instrumental y equipamiento m칠dico\\n- 51xxxxxx: Medicamentos y productos farmac칠uticos\\n- 85101500: Edificaci칩n de centros de atenci칩n de salud\\n- 85122200: Evaluaci칩n de salud\\n- 85131500: Mantenimiento de servicios de salud\\n- 85131600: Mantenimiento hospitalario\\n- 85121600 - 85122200: Servicios cl칤nicos diversos\\n- 93131700: Limpieza de hospitales y servicios de salud' : $('Set Client Data').first().json.sector === 'construccion' ? '游닄 SECTOR: CONSTRUCCI칍N E INFRAESTRUCTURA\\n\\nSin칩nimos clave:\\n- construcci칩n = edificaci칩n = obra = ejecuci칩n = proyecto = levantamiento = desarrollo de obra\\n\\nT칠rminos aceptados del cat치logo oficial:\\n- Actividades: construcci칩n, edificaci칩n, mejoramiento, habilitaci칩n, reposici칩n, ampliaci칩n, remodelaci칩n, reparaci칩n, restauraci칩n, mantenci칩n, conservaci칩n, rehabilitaci칩n, normalizaci칩n, terminaci칩n, instalaci칩n, montaje\\n- Obras civiles: puentes, t칰neles, viaductos, pasos sobre nivel, pasos bajo nivel, muros de contenci칩n, defensas fluviales\\n- Vialidad: carreteras, caminos, calles, avenidas, pasajes, veredas, aceras, bermas, ciclov칤as, pavimentaci칩n, carpeta asf치ltica, hormig칩n, adoquines\\n- Edificaciones: edificios p칰blicos, colegios, hospitales, consultorios, comisar칤as, cuarteles, oficinas, sedes sociales, gimnasios, estadios, multicanchas\\n- Infraestructura deportiva: estadios, gimnasios, multicanchas, canchas, piscinas, 치reas deportivas, grader칤as, camarines, iluminaci칩n deportiva\\n- Infraestructura comunitaria: plazas, parques, 치reas verdes, juegos infantiles, mobiliario urbano, bancas, luminarias\\n- Urbanizaci칩n: loteos, urbanizaciones, habilitaci칩n de terrenos, movimiento de tierras, explanaciones, nivelaci칩n\\n- Instalaciones: el칠ctricas, sanitarias, agua potable, alcantarillado, drenaje, aguas lluvias, gas, telecomunicaciones\\n- Arquitectura: dise침o arquitect칩nico, proyectos de arquitectura, planos, especificaciones t칠cnicas, estudios de mec치nica de suelos\\n- Especialidades: estructuras, fundaciones, muros, techumbres, cubiertas, terminaciones, revestimientos, pinturas, cer치micas, pisos\\n- Accesibilidad: accesibilidad universal, rampas, barandas, se침al칠tica, demarcaci칩n, vados peatonales\\n\\nRubros espec칤ficos identificados:\\n- 72xxxxxx: Servicios de edificaci칩n, construcci칩n de instalaciones y mantenimiento\\n- 30xxxxxx: Componentes y suministros estructurales y de construcci칩n\\n- 76xxxxxx: Servicios de limpieza, descontaminaci칩n y tratamiento de residuos\\n- 72131700: Construcci칩n de edificios\\n- 72101900: Acabados de interiores\\n- 30222400: Componentes y sistemas para el techo\\n- 30222700: Estructuras y componentes de edificios' : $('Set Client Data').first().json.sector === 'transporte' ? '游닄 SECTOR: TRANSPORTE Y LOG칈STICA\\n\\nSin칩nimos clave:\\n- transporte = traslado = movilizaci칩n = servicio de transporte = arriendo de veh칤culos = servicio de movilizaci칩n\\n\\nT칠rminos aceptados del cat치logo oficial:\\n- Servicios de transporte: traslado, movilizaci칩n, conducci칩n, arriendo, servicios de transporte, transporte privado, transporte p칰blico, transporte escolar\\n- Tipos de pasajeros: escolares, estudiantes, adultos mayores, personal, funcionarios, trabajadores, pacientes, turistas, visitantes\\n- Modalidades: excursiones, giras, paseos, turismo, transfer, rutas, recorridos, itinerarios, circuitos, tours\\n- Personal: choferes, conductores, pilotos, operadores, despachadores, coordinadores de flota\\n- Veh칤culos pasajeros: buses, minibuses, furgones, vans, microbuses, colectivos, taxibuses, veh칤culos, m칩viles, autom칩viles\\n- Veh칤culos carga: camiones, camionetas, furgones de carga, tracto-camiones, remolques, semi-remolques\\n- Log칤stica: distribuci칩n, despacho, reparto, entrega, env칤o, transporte de mercanc칤as\\n- Carga: mercanc칤a, fletes, carga, bultos, paquetes, encomiendas, mudanzas, traslado de equipos\\n- Gesti칩n: administraci칩n de flotas, control de flota, seguimiento vehicular, GPS, telemetr칤a, gesti칩n de rutas\\n- Mantenimiento: mantenci칩n vehicular, reparaci칩n, servicio t칠cnico, revisi칩n t칠cnica, cambio de aceite, neum치ticos\\n- Combustibles: bencina, petr칩leo diesel, gas, combustible, abastecimiento, suministro\\n- Seguros: seguros vehiculares, SOAP, p칩lizas, coberturas\\n\\nRubros espec칤ficos identificados:\\n- 78101800: Servicios de transporte de pasajeros por carretera\\n- 78111800: Servicios de transporte escolar\\n- 78141500: Servicios de arriendo de veh칤culos\\n- 25xxxxxx: Veh칤culos comerciales, militares y particulares\\n- 24xxxxxx: Maquinaria y accesorios para manejo, acondicionamiento y almacenaje de materiales' : 'Por favor selecciona un sector v치lido en la configuraci칩n del workflow.' }}"
            },
            {
              "content": "=CLIENTE: {{ $('Set Client Data').first().json.companyName }}\n\nPALABRAS CLAVE DEL CLIENTE:\n{{ $('Set Client Data').first().json.tags }}\n\nLICITACIONES DISPONIBLES:\n{{ $json.markdown }}\n\nAnaliza las licitaciones y devuelve los c칩digos de las que coincidan con las palabras clave del cliente."
            }
          ]
        },
        "options": {
          "temperature": 0.2
        }
      },
      "id": "70cca49d-77f1-4c6f-b1b7-66f97631d049",
      "name": "LLM filter: OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -624,
        -224
      ],
      "credentials": {
        "openAiApi": {
          "id": "omq5BU8Tn3sj3tSp",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "Eres un experto en an치lisis de licitaciones p칰blicas chilenas. Tu tarea es identificar qu칠 licitaciones son relevantes para un cliente bas치ndote en sus palabras clave.\n\n游늶 INSTRUCCIONES:\n\n1. ANALIZAR las palabras clave del cliente (separadas por comas)\n2. REVISAR cada licitaci칩n buscando coincidencias en NOMBRE y DESCRIPCI칍N\n3. BUSCAR coincidencias directas Y sem치nticas:\n   - Palabras exactas de las tags del cliente\n   - Sin칩nimos del sector\n   - T칠rminos relacionados\n\n4. Para CADA licitaci칩n relevante:\n   - COPIAR su c칩digo EXACTAMENTE (formato: \"1234-56-AB25\")\n   - M츼XIMO 10 licitaciones\n\n丘멆잺 IMPORTANTE: \n- S칄 GENEROSO en las coincidencias - incluye licitaciones que puedan ser relevantes\n- Los c칩digos aparecen despu칠s de \"C칍DIGO:\" en el texto\n- NUNCA inventes c칩digos nuevos\n- Si hay duda, INCLUYE la licitaci칩n\n\nRESPUESTA: \nDevuelve 칔NICAMENTE los c칩digos relevantes separados por comas, sin ning칰n otro texto o formato. Ejemplo: 1234-56-AB25, 5678-90-CD25, 9012-34-EF25",
              "role": "model"
            },
            {
              "content": "={{ $('Set Client Data').first().json.sector === 'agricultura_materias_primas' ? '游닄 SECTOR: AGRICULTURA Y MATERIAS PRIMAS\\n\\nSin칩nimos clave:\\n- agricultura = agr칤cola = agropecuario = cultivo = producci칩n agr칤cola = explotaci칩n agr칤cola\\n- ganader칤a = ganado = pecuario = crianza = producci칩n animal = explotaci칩n ganadera\\n- materias primas = insumos agr칤colas = productos agr칤colas = recursos naturales\\n\\nT칠rminos aceptados del cat치logo oficial:\\n- Animales: ganado, aves de corral, peces, animales dom칠sticos, animales salvajes, insectos, mariscos, moluscos, crust치ceos, mascotas\\n- Alimentos para animales: alimento para ganado, aves, peces, perros, gatos, roedores, reptiles\\n- Plantas y cultivos: 치rboles, arbustos, flores, plantas con flor, plantas sin flor, productos vegetales, semillas, alm치cigos, bulbos, tallos\\n- Semillas: cereales, hierbas, forraje, especias, flores, cultivos fibrosos, semilleros\\n- Insumos agr칤colas: abonos org치nicos, abonos qu칤micos, fertilizantes, pesticidas, herbicidas, repelentes de plagas, dispositivos para control de plagas\\n- Infraestructura animal: cobertizos, refugios, h치bitats para animales, art칤culos de talabarter칤a, arneses\\n- Residuos: residuos vegetales no alimentarios\\n- Servicios: administraci칩n agr칤cola, estudios de suelos y cultivos, econom칤a agraria, catastros, derechos de aguas\\n- Veterinaria: accesorios y tratamientos para mascotas, productos veterinarios\\n\\nRubros espec칤ficos identificados:\\n- 10101500: Animales dom칠sticos\\n- 10121500: Alimento para ganado\\n- 10161500: 츼rboles y arbustos\\n- 10171500: Abonos org치nicos\\n- 10171600: Abonos qu칤micos\\n- 10171700: Herbicidas\\n- 10191500: Pesticidas o repelentes de plagas\\n- 10151500: Semillas y alm치cigos' : $('Set Client Data').first().json.sector === 'metales_aleaciones' ? '游닄 SECTOR: METALES, ALEACIONES Y MATERIAS PRIMAS INDUSTRIALES\\n\\nSin칩nimos clave:\\n- metales = metal = aleaci칩n = aleaciones = metal칰rgico = sider칰rgico\\n- acero = aceros = acer칤a = productos sider칰rgicos = estructuras met치licas\\n- minerales = mineral = miner칤a = materias primas = recursos mineros = extracci칩n\\n\\nT칠rminos aceptados del cat치logo oficial:\\n- Aceros: aceros b치sicos, aceros r치pidos, aceros especiales, estructuras de acero\\n- Metales base: hierro, aluminio, cobre, zinc, plomo, esta침o, n칤quel\\n- Metales preciosos: oro, plata, platino, paladio\\n- Aleaciones: aleaciones ferrosas, aleaciones no ferrosas, bronces, latones\\n- Minerales: minerales met치licos, minerales no met치licos, tierras y suelos\\n- Productos met치licos: barras, perfiles, chapas, l치minas, tubos, ca침er칤as met치licas\\n- Materias primas: cuero, pieles, subproductos animales, tejidos naturales\\n- Textiles: tejidos de algod칩n, tejidos de seda, tejidos sint칠ticos, tejidos vegetales, tejidos especiales, telas no tejidas\\n- Desperdicios: desechos met치licos, desechos no met치licos, desperdicios org치nicos, chatarra, reciclaje de metales\\n- Cuerpos s칩lidos: lingotes, bloques, tochos, barras, perfiles estructurales\\n\\nRubros espec칤ficos identificados:\\n- 11171500: Aceros b치sicos\\n- 11171700: Aceros r치pidos\\n- 11101600: Metales\\n- 11101700: Metales base\\n- 11101800: Metales preciosos\\n- 11101500: Minerales\\n- 11191500: Cuerpos s칩lidos de metal\\n- 11141600: Desechos no met치licos\\n- 11141700: Desperdicios org치nicos y de tabaco\\n- 11131500: Cuero, pieles y subproductos animales' : $('Set Client Data').first().json.sector === 'quimicos' ? '游닄 SECTOR: QU칈MICOS Y PRODUCTOS QU칈MICOS\\n\\nSin칩nimos clave:\\n- qu칤micos = productos qu칤micos = sustancias qu칤micas = compuestos qu칤micos = reactivos\\n- aditivos = aditivos qu칤micos = aditivos industriales = mejoradores = estabilizadores\\n- explosivos = pirotecnia = materiales explosivos = p칩lvoras = detonantes\\n\\nT칠rminos aceptados del cat치logo oficial:\\n- Aceites: aceites industriales, aceites lubricantes, aceites hidr치ulicos, aceites sint칠ticos\\n- Aditivos: aditivos para alimentos, aditivos para f치rmacos, aditivos para carburante, aditivos para p칠rdida de fluido\\n- Anti-productos: anti-sedimentos, anti-oxidantes, anti-congelantes, anti-corrosivos\\n- Compuestos: compuestos arom치ticos, compuestos alif치ticos, compuestos de colores, dispersiones, derivados org치nicos\\n- Explosivos: explosivos civiles, explosivos militares, p칩lvoras, detonantes, pirotecnia\\n- Gases: gases industriales, gases comprimidos, gases licuados, gases inertes, gases especiales\\n- Metales qu칤micos: 칩xido de metales, 칩xido de metales raros, metales alcalinos, metales de transici칩n\\n- Pinturas: pinturas industriales, recubrimientos, esmaltes, barnices, tintes, colorantes\\n- Productos qu칤micos: 치cidos, bases, sales, solventes, reactivos, catalizadores\\n- Pol칤meros: resinas, pl치sticos, elast칩meros, pol칤meros sint칠ticos\\n- Productos de limpieza: detergentes industriales, desinfectantes, limpiadores qu칤micos\\n- Tratamientos: tratamientos de agua, tratamientos de superficie, agentes de curado\\n\\nRubros espec칤ficos identificados:\\n- 12181600: Aceites\\n- 12164500: Aditivos para alimentos y f치rmacos\\n- 12162700: Aditivos para p칠rdida de fluido\\n- 12163100: Anti sedimentos\\n- 12162200: Anti-oxidantes\\n- 12352000: Compuestos arom치ticos y alif치ticos\\n- 12171700: Compuestos de colores y dispersiones\\n- 12131500: Explosivos\\n- 12141500: 칍xido de metales\\n- 12141600: 칍xido de metales raros' : $('Set Client Data').first().json.sector === 'software' ? '游닄 SECTOR: SOFTWARE Y TECNOLOG칈A\\n\\nSin칩nimos clave:\\n- software = licencias = sistemas = aplicaciones = programas = plataformas = soluciones inform치ticas\\n\\nT칠rminos aceptados del cat치logo oficial:\\n- Servicios TI: desarrollo, mantenci칩n, soporte, mantenimiento, implementaci칩n, consultor칤a TI, arquitectura de software, integraci칩n, capacitaci칩n, asesor칤a t칠cnica\\n- Productos software: licencias, Microsoft Office, Adobe, VMware, Red Hat, Oracle, SAP, AutoCAD, bases de datos, servidores, antivirus, firewalls\\n- Infraestructura: cloud, ciberseguridad, infraestructura TI, redes, telecomunicaciones, data centers, virtualizaci칩n, almacenamiento\\n- Desarrollo: ingenier칤a de software, desarrollo web, desarrollo m칩vil, apps, portales, sistemas de informaci칩n, ERP, CRM\\n- Actividades: instalaci칩n, configuraci칩n, actualizaci칩n, migraci칩n, integraci칩n, parametrizaci칩n, puesta en marcha\\n- Hardware relacionado: computadores, servidores, equipamiento inform치tico, perif칠ricos, impresoras, esc치neres, monitores\\n- Gesti칩n: administraci칩n de sistemas, gesti칩n de proyectos TI, service desk, mesa de ayuda, soporte t칠cnico\\n- Seguridad: ciberseguridad, seguridad inform치tica, respaldo, backup, recuperaci칩n de desastres, protecci칩n de datos\\n- Comunicaciones: telecomunicaciones, telefon칤a IP, videoconferencia, redes, conectividad, cableado estructurado\\n\\nRubros espec칤ficos identificados:\\n- 81111800: Administraci칩n de sistemas\\n- 81112200: Licenciamiento de software\\n- 43231500: Software de aplicaci칩n\\n- 43232300: Software de desarrollo\\n- 81141500: Contratistas en tecnolog칤as de la informaci칩n\\n- 81101500 - 81102300: Servicios inform치ticos diversos\\n- 82111500 - 82111700: Telecomunicaciones\\n- 80111800: Consultor칤as TI' : $('Set Client Data').first().json.sector === 'salud' ? '游닄 SECTOR: SALUD\\n\\nSin칩nimos clave:\\n- hospital = centro de salud = establecimiento de salud = consultorio = CESFAM = cl칤nica = servicio de salud = centro m칠dico = centro asistencial\\n\\nT칠rminos aceptados del cat치logo oficial:\\n- Establecimientos: hospitales, cl칤nicas, consultorios, CESFAM, SAR, SAPU, centro de salud ambulatoria, policl칤nicos, postas, unidades de emergencia\\n- Servicios m칠dicos: atenci칩n m칠dica, prestaciones de salud, servicios cl칤nicos, atenci칩n primaria, atenci칩n secundaria, atenci칩n terciaria, emergencias, urgencias, telemedicina, teleradiolog칤a\\n- Equipamiento m칠dico: electrocardi칩grafo, electrocardi칩grafo, rayos X, ec칩grafo, tom칩grafo, resonador, monitores m칠dicos, desfibrilador, ventilador, camillas, camas cl칤nicas, instrumental quir칰rgico\\n- Diagn칩stico: ex치menes, laboratorio cl칤nico, imagenolog칤a, radiolog칤a, rayos X, ecograf칤a, tomograf칤a, resonancia magn칠tica, electrocardiograf칤a\\n- Insumos: medicamentos, f치rmacos, drogas, material cl칤nico, insumos hospitalarios, dispositivos m칠dicos, jeringas, gasas, vendajes, guantes, mascarillas\\n- Personal: m칠dicos, enfermeras, t칠cnicos param칠dicos, matronas, kinesi칩logos, nutricionistas, psic칩logos, terapeutas\\n- Especialidades: medicina interna, cirug칤a, pediatr칤a, ginecolog칤a, obstetricia, traumatolog칤a, oftalmolog칤a, cardiolog칤a, neurolog칤a\\n- Procedimientos: cirug칤as, intervenciones, tratamientos, terapias, rehabilitaci칩n, diagn칩stico, atenci칩n, consultas\\n- Servicios de apoyo: aseo hospitalario, alimentaci칩n hospitalaria, lavander칤a hospitalaria, esterilizaci칩n, manejo de residuos hospitalarios\\n- Infraestructura: construcci칩n hospitales, equipamiento hospitalar, mobiliario cl칤nico, sistemas de gases medicinales\\n\\nRubros espec칤ficos identificados:\\n- 42xxxxxx: Instrumental y equipamiento m칠dico\\n- 51xxxxxx: Medicamentos y productos farmac칠uticos\\n- 85101500: Edificaci칩n de centros de atenci칩n de salud\\n- 85122200: Evaluaci칩n de salud\\n- 85131500: Mantenimiento de servicios de salud\\n- 85131600: Mantenimiento hospitalario\\n- 85121600 - 85122200: Servicios cl칤nicos diversos\\n- 93131700: Limpieza de hospitales y servicios de salud' : $('Set Client Data').first().json.sector === 'construccion' ? '游닄 SECTOR: CONSTRUCCI칍N E INFRAESTRUCTURA\\n\\nSin칩nimos clave:\\n- construcci칩n = edificaci칩n = obra = ejecuci칩n = proyecto = levantamiento = desarrollo de obra\\n\\nT칠rminos aceptados del cat치logo oficial:\\n- Actividades: construcci칩n, edificaci칩n, mejoramiento, habilitaci칩n, reposici칩n, ampliaci칩n, remodelaci칩n, reparaci칩n, restauraci칩n, mantenci칩n, conservaci칩n, rehabilitaci칩n, normalizaci칩n, terminaci칩n, instalaci칩n, montaje\\n- Obras civiles: puentes, t칰neles, viaductos, pasos sobre nivel, pasos bajo nivel, muros de contenci칩n, defensas fluviales\\n- Vialidad: carreteras, caminos, calles, avenidas, pasajes, veredas, aceras, bermas, ciclov칤as, pavimentaci칩n, carpeta asf치ltica, hormig칩n, adoquines\\n- Edificaciones: edificios p칰blicos, colegios, hospitales, consultorios, comisar칤as, cuarteles, oficinas, sedes sociales, gimnasios, estadios, multicanchas\\n- Infraestructura deportiva: estadios, gimnasios, multicanchas, canchas, piscinas, 치reas deportivas, grader칤as, camarines, iluminaci칩n deportiva\\n- Infraestructura comunitaria: plazas, parques, 치reas verdes, juegos infantiles, mobiliario urbano, bancas, luminarias\\n- Urbanizaci칩n: loteos, urbanizaciones, habilitaci칩n de terrenos, movimiento de tierras, explanaciones, nivelaci칩n\\n- Instalaciones: el칠ctricas, sanitarias, agua potable, alcantarillado, drenaje, aguas lluvias, gas, telecomunicaciones\\n- Arquitectura: dise침o arquitect칩nico, proyectos de arquitectura, planos, especificaciones t칠cnicas, estudios de mec치nica de suelos\\n- Especialidades: estructuras, fundaciones, muros, techumbres, cubiertas, terminaciones, revestimientos, pinturas, cer치micas, pisos\\n- Accesibilidad: accesibilidad universal, rampas, barandas, se침al칠tica, demarcaci칩n, vados peatonales\\n\\nRubros espec칤ficos identificados:\\n- 72xxxxxx: Servicios de edificaci칩n, construcci칩n de instalaciones y mantenimiento\\n- 30xxxxxx: Componentes y suministros estructurales y de construcci칩n\\n- 76xxxxxx: Servicios de limpieza, descontaminaci칩n y tratamiento de residuos\\n- 72131700: Construcci칩n de edificios\\n- 72101900: Acabados de interiores\\n- 30222400: Componentes y sistemas para el techo\\n- 30222700: Estructuras y componentes de edificios' : $('Set Client Data').first().json.sector === 'transporte' ? '游닄 SECTOR: TRANSPORTE Y LOG칈STICA\\n\\nSin칩nimos clave:\\n- transporte = traslado = movilizaci칩n = servicio de transporte = arriendo de veh칤culos = servicio de movilizaci칩n\\n\\nT칠rminos aceptados del cat치logo oficial:\\n- Servicios de transporte: traslado, movilizaci칩n, conducci칩n, arriendo, servicios de transporte, transporte privado, transporte p칰blico, transporte escolar\\n- Tipos de pasajeros: escolares, estudiantes, adultos mayores, personal, funcionarios, trabajadores, pacientes, turistas, visitantes\\n- Modalidades: excursiones, giras, paseos, turismo, transfer, rutas, recorridos, itinerarios, circuitos, tours\\n- Personal: choferes, conductores, pilotos, operadores, despachadores, coordinadores de flota\\n- Veh칤culos pasajeros: buses, minibuses, furgones, vans, microbuses, colectivos, taxibuses, veh칤culos, m칩viles, autom칩viles\\n- Veh칤culos carga: camiones, camionetas, furgones de carga, tracto-camiones, remolques, semi-remolques\\n- Log칤stica: distribuci칩n, despacho, reparto, entrega, env칤o, transporte de mercanc칤as\\n- Carga: mercanc칤a, fletes, carga, bultos, paquetes, encomiendas, mudanzas, traslado de equipos\\n- Gesti칩n: administraci칩n de flotas, control de flota, seguimiento vehicular, GPS, telemetr칤a, gesti칩n de rutas\\n- Mantenimiento: mantenci칩n vehicular, reparaci칩n, servicio t칠cnico, revisi칩n t칠cnica, cambio de aceite, neum치ticos\\n- Combustibles: bencina, petr칩leo diesel, gas, combustible, abastecimiento, suministro\\n- Seguros: seguros vehiculares, SOAP, p칩lizas, coberturas\\n\\nRubros espec칤ficos identificados:\\n- 78101800: Servicios de transporte de pasajeros por carretera\\n- 78111800: Servicios de transporte escolar\\n- 78141500: Servicios de arriendo de veh칤culos\\n- 25xxxxxx: Veh칤culos comerciales, militares y particulares\\n- 24xxxxxx: Maquinaria y accesorios para manejo, acondicionamiento y almacenaje de materiales' : 'Por favor selecciona un sector v치lido en la configuraci칩n del workflow.' }}"
            },
            {
              "content": "=CLIENTE: {{ $('Set Client Data').first().json.companyName }}\n\nPALABRAS CLAVE DEL CLIENTE:\n{{ $('Set Client Data').first().json.tags }}\n\nLICITACIONES DISPONIBLES:\n{{ $json.markdown }}\n\nAnaliza las licitaciones y devuelve los c칩digos de las que coincidan con las palabras clave del cliente."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -624,
        -64
      ],
      "id": "079ed90d-05b4-4b12-b456-2e2265d4c356",
      "name": "LLM filter: Google",
      "credentials": {
        "googlePalmApi": {
          "id": "MA4GvBksMgkYGPMm",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-3-5-haiku-20241022",
          "mode": "list",
          "cachedResultName": "claude-3-5-haiku-20241022"
        },
        "messages": {
          "values": [
            {
              "content": "Eres un experto en an치lisis de licitaciones p칰blicas chilenas. Tu tarea es identificar qu칠 licitaciones son relevantes para un cliente bas치ndote en sus palabras clave.\n\n游늶 INSTRUCCIONES:\n\n1. ANALIZAR las palabras clave del cliente (separadas por comas)\n2. REVISAR cada licitaci칩n buscando coincidencias en NOMBRE y DESCRIPCI칍N\n3. BUSCAR coincidencias directas Y sem치nticas:\n   - Palabras exactas de las tags del cliente\n   - Sin칩nimos del sector\n   - T칠rminos relacionados\n\n4. Para CADA licitaci칩n relevante:\n   - COPIAR su c칩digo EXACTAMENTE (formato: \"1234-56-AB25\")\n   - 游뚿 L칈MITE ESTRICTO: EXACTAMENTE 10 LICITACIONES M츼XIMO 游뚿\n\n丘멆잺 CR칈TICO: \n- NO DEVUELVAS M츼S DE 10 C칍DIGOS BAJO NINGUNA CIRCUNSTANCIA\n- Si encuentras m치s de 10 relevantes, selecciona los 10 M츼S relevantes\n- S칄 GENEROSO en las coincidencias pero RESPETA EL L칈MITE DE 10\n- Los c칩digos aparecen despu칠s de \"C칍DIGO:\" en el texto\n- NUNCA inventes c칩digos nuevos\n- Si hay duda, INCLUYE la licitaci칩n (pero m치ximo 10 total)\n\nRESPUESTA: \nDevuelve 칔NICAMENTE los c칩digos relevantes separados por comas, sin ning칰n otro texto o formato. M츼XIMO 10 C칍DIGOS. Ejemplo: 1234-56-AB25, 5678-90-CD25, 9012-34-EF25",
              "role": "assistant"
            },
            {
              "content": "={{ $('Set Client Data').first().json.sector === 'agricultura_materias_primas' ? '游닄 SECTOR: AGRICULTURA Y MATERIAS PRIMAS\\n\\nSin칩nimos clave:\\n- agricultura = agr칤cola = agropecuario = cultivo = producci칩n agr칤cola = explotaci칩n agr칤cola\\n- ganader칤a = ganado = pecuario = crianza = producci칩n animal = explotaci칩n ganadera\\n- materias primas = insumos agr칤colas = productos agr칤colas = recursos naturales\\n\\nT칠rminos aceptados del cat치logo oficial:\\n- Animales: ganado, aves de corral, peces, animales dom칠sticos, animales salvajes, insectos, mariscos, moluscos, crust치ceos, mascotas\\n- Alimentos para animales: alimento para ganado, aves, peces, perros, gatos, roedores, reptiles\\n- Plantas y cultivos: 치rboles, arbustos, flores, plantas con flor, plantas sin flor, productos vegetales, semillas, alm치cigos, bulbos, tallos\\n- Semillas: cereales, hierbas, forraje, especias, flores, cultivos fibrosos, semilleros\\n- Insumos agr칤colas: abonos org치nicos, abonos qu칤micos, fertilizantes, pesticidas, herbicidas, repelentes de plagas, dispositivos para control de plagas\\n- Infraestructura animal: cobertizos, refugios, h치bitats para animales, art칤culos de talabarter칤a, arneses\\n- Residuos: residuos vegetales no alimentarios\\n- Servicios: administraci칩n agr칤cola, estudios de suelos y cultivos, econom칤a agraria, catastros, derechos de aguas\\n- Veterinaria: accesorios y tratamientos para mascotas, productos veterinarios\\n\\nRubros espec칤ficos identificados:\\n- 10101500: Animales dom칠sticos\\n- 10121500: Alimento para ganado\\n- 10161500: 츼rboles y arbustos\\n- 10171500: Abonos org치nicos\\n- 10171600: Abonos qu칤micos\\n- 10171700: Herbicidas\\n- 10191500: Pesticidas o repelentes de plagas\\n- 10151500: Semillas y alm치cigos' : $('Set Client Data').first().json.sector === 'metales_aleaciones' ? '游닄 SECTOR: METALES, ALEACIONES Y MATERIAS PRIMAS INDUSTRIALES\\n\\nSin칩nimos clave:\\n- metales = metal = aleaci칩n = aleaciones = metal칰rgico = sider칰rgico\\n- acero = aceros = acer칤a = productos sider칰rgicos = estructuras met치licas\\n- minerales = mineral = miner칤a = materias primas = recursos mineros = extracci칩n\\n\\nT칠rminos aceptados del cat치logo oficial:\\n- Aceros: aceros b치sicos, aceros r치pidos, aceros especiales, estructuras de acero\\n- Metales base: hierro, aluminio, cobre, zinc, plomo, esta침o, n칤quel\\n- Metales preciosos: oro, plata, platino, paladio\\n- Aleaciones: aleaciones ferrosas, aleaciones no ferrosas, bronces, latones\\n- Minerales: minerales met치licos, minerales no met치licos, tierras y suelos\\n- Productos met치licos: barras, perfiles, chapas, l치minas, tubos, ca침er칤as met치licas\\n- Materias primas: cuero, pieles, subproductos animales, tejidos naturales\\n- Textiles: tejidos de algod칩n, tejidos de seda, tejidos sint칠ticos, tejidos vegetales, tejidos especiales, telas no tejidas\\n- Desperdicios: desechos met치licos, desechos no met치licos, desperdicios org치nicos, chatarra, reciclaje de metales\\n- Cuerpos s칩lidos: lingotes, bloques, tochos, barras, perfiles estructurales\\n\\nRubros espec칤ficos identificados:\\n- 11171500: Aceros b치sicos\\n- 11171700: Aceros r치pidos\\n- 11101600: Metales\\n- 11101700: Metales base\\n- 11101800: Metales preciosos\\n- 11101500: Minerales\\n- 11191500: Cuerpos s칩lidos de metal\\n- 11141600: Desechos no met치licos\\n- 11141700: Desperdicios org치nicos y de tabaco\\n- 11131500: Cuero, pieles y subproductos animales' : $('Set Client Data').first().json.sector === 'quimicos' ? '游닄 SECTOR: QU칈MICOS Y PRODUCTOS QU칈MICOS\\n\\nSin칩nimos clave:\\n- qu칤micos = productos qu칤micos = sustancias qu칤micas = compuestos qu칤micos = reactivos\\n- aditivos = aditivos qu칤micos = aditivos industriales = mejoradores = estabilizadores\\n- explosivos = pirotecnia = materiales explosivos = p칩lvoras = detonantes\\n\\nT칠rminos aceptados del cat치logo oficial:\\n- Aceites: aceites industriales, aceites lubricantes, aceites hidr치ulicos, aceites sint칠ticos\\n- Aditivos: aditivos para alimentos, aditivos para f치rmacos, aditivos para carburante, aditivos para p칠rdida de fluido\\n- Anti-productos: anti-sedimentos, anti-oxidantes, anti-congelantes, anti-corrosivos\\n- Compuestos: compuestos arom치ticos, compuestos alif치ticos, compuestos de colores, dispersiones, derivados org치nicos\\n- Explosivos: explosivos civiles, explosivos militares, p칩lvoras, detonantes, pirotecnia\\n- Gases: gases industriales, gases comprimidos, gases licuados, gases inertes, gases especiales\\n- Metales qu칤micos: 칩xido de metales, 칩xido de metales raros, metales alcalinos, metales de transici칩n\\n- Pinturas: pinturas industriales, recubrimientos, esmaltes, barnices, tintes, colorantes\\n- Productos qu칤micos: 치cidos, bases, sales, solventes, reactivos, catalizadores\\n- Pol칤meros: resinas, pl치sticos, elast칩meros, pol칤meros sint칠ticos\\n- Productos de limpieza: detergentes industriales, desinfectantes, limpiadores qu칤micos\\n- Tratamientos: tratamientos de agua, tratamientos de superficie, agentes de curado\\n\\nRubros espec칤ficos identificados:\\n- 12181600: Aceites\\n- 12164500: Aditivos para alimentos y f치rmacos\\n- 12162700: Aditivos para p칠rdida de fluido\\n- 12163100: Anti sedimentos\\n- 12162200: Anti-oxidantes\\n- 12352000: Compuestos arom치ticos y alif치ticos\\n- 12171700: Compuestos de colores y dispersiones\\n- 12131500: Explosivos\\n- 12141500: 칍xido de metales\\n- 12141600: 칍xido de metales raros' : $('Set Client Data').first().json.sector === 'software' ? '游닄 SECTOR: SOFTWARE Y TECNOLOG칈A\\n\\nSin칩nimos clave:\\n- software = licencias = sistemas = aplicaciones = programas = plataformas = soluciones inform치ticas\\n\\nT칠rminos aceptados del cat치logo oficial:\\n- Servicios TI: desarrollo, mantenci칩n, soporte, mantenimiento, implementaci칩n, consultor칤a TI, arquitectura de software, integraci칩n, capacitaci칩n, asesor칤a t칠cnica\\n- Productos software: licencias, Microsoft Office, Adobe, VMware, Red Hat, Oracle, SAP, AutoCAD, bases de datos, servidores, antivirus, firewalls\\n- Infraestructura: cloud, ciberseguridad, infraestructura TI, redes, telecomunicaciones, data centers, virtualizaci칩n, almacenamiento\\n- Desarrollo: ingenier칤a de software, desarrollo web, desarrollo m칩vil, apps, portales, sistemas de informaci칩n, ERP, CRM\\n- Actividades: instalaci칩n, configuraci칩n, actualizaci칩n, migraci칩n, integraci칩n, parametrizaci칩n, puesta en marcha\\n- Hardware relacionado: computadores, servidores, equipamiento inform치tico, perif칠ricos, impresoras, esc치neres, monitores\\n- Gesti칩n: administraci칩n de sistemas, gesti칩n de proyectos TI, service desk, mesa de ayuda, soporte t칠cnico\\n- Seguridad: ciberseguridad, seguridad inform치tica, respaldo, backup, recuperaci칩n de desastres, protecci칩n de datos\\n- Comunicaciones: telecomunicaciones, telefon칤a IP, videoconferencia, redes, conectividad, cableado estructurado\\n\\nRubros espec칤ficos identificados:\\n- 81111800: Administraci칩n de sistemas\\n- 81112200: Licenciamiento de software\\n- 43231500: Software de aplicaci칩n\\n- 43232300: Software de desarrollo\\n- 81141500: Contratistas en tecnolog칤as de la informaci칩n\\n- 81101500 - 81102300: Servicios inform치ticos diversos\\n- 82111500 - 82111700: Telecomunicaciones\\n- 80111800: Consultor칤as TI' : $('Set Client Data').first().json.sector === 'salud' ? '游닄 SECTOR: SALUD\\n\\nSin칩nimos clave:\\n- hospital = centro de salud = establecimiento de salud = consultorio = CESFAM = cl칤nica = servicio de salud = centro m칠dico = centro asistencial\\n\\nT칠rminos aceptados del cat치logo oficial:\\n- Establecimientos: hospitales, cl칤nicas, consultorios, CESFAM, SAR, SAPU, centro de salud ambulatoria, policl칤nicos, postas, unidades de emergencia\\n- Servicios m칠dicos: atenci칩n m칠dica, prestaciones de salud, servicios cl칤nicos, atenci칩n primaria, atenci칩n secundaria, atenci칩n terciaria, emergencias, urgencias, telemedicina, teleradiolog칤a\\n- Equipamiento m칠dico: electrocardi칩grafo, electrocardi칩grafo, rayos X, ec칩grafo, tom칩grafo, resonador, monitores m칠dicos, desfibrilador, ventilador, camillas, camas cl칤nicas, instrumental quir칰rgico\\n- Diagn칩stico: ex치menes, laboratorio cl칤nico, imagenolog칤a, radiolog칤a, rayos X, ecograf칤a, tomograf칤a, resonancia magn칠tica, electrocardiograf칤a\\n- Insumos: medicamentos, f치rmacos, drogas, material cl칤nico, insumos hospitalarios, dispositivos m칠dicos, jeringas, gasas, vendajes, guantes, mascarillas\\n- Personal: m칠dicos, enfermeras, t칠cnicos param칠dicos, matronas, kinesi칩logos, nutricionistas, psic칩logos, terapeutas\\n- Especialidades: medicina interna, cirug칤a, pediatr칤a, ginecolog칤a, obstetricia, traumatolog칤a, oftalmolog칤a, cardiolog칤a, neurolog칤a\\n- Procedimientos: cirug칤as, intervenciones, tratamientos, terapias, rehabilitaci칩n, diagn칩stico, atenci칩n, consultas\\n- Servicios de apoyo: aseo hospitalario, alimentaci칩n hospitalaria, lavander칤a hospitalaria, esterilizaci칩n, manejo de residuos hospitalarios\\n- Infraestructura: construcci칩n hospitales, equipamiento hospitalar, mobiliario cl칤nico, sistemas de gases medicinales\\n\\nRubros espec칤ficos identificados:\\n- 42xxxxxx: Instrumental y equipamiento m칠dico\\n- 51xxxxxx: Medicamentos y productos farmac칠uticos\\n- 85101500: Edificaci칩n de centros de atenci칩n de salud\\n- 85122200: Evaluaci칩n de salud\\n- 85131500: Mantenimiento de servicios de salud\\n- 85131600: Mantenimiento hospitalario\\n- 85121600 - 85122200: Servicios cl칤nicos diversos\\n- 93131700: Limpieza de hospitales y servicios de salud' : $('Set Client Data').first().json.sector === 'construccion' ? '游닄 SECTOR: CONSTRUCCI칍N E INFRAESTRUCTURA\\n\\nSin칩nimos clave:\\n- construcci칩n = edificaci칩n = obra = ejecuci칩n = proyecto = levantamiento = desarrollo de obra\\n\\nT칠rminos aceptados del cat치logo oficial:\\n- Actividades: construcci칩n, edificaci칩n, mejoramiento, habilitaci칩n, reposici칩n, ampliaci칩n, remodelaci칩n, reparaci칩n, restauraci칩n, mantenci칩n, conservaci칩n, rehabilitaci칩n, normalizaci칩n, terminaci칩n, instalaci칩n, montaje\\n- Obras civiles: puentes, t칰neles, viaductos, pasos sobre nivel, pasos bajo nivel, muros de contenci칩n, defensas fluviales\\n- Vialidad: carreteras, caminos, calles, avenidas, pasajes, veredas, aceras, bermas, ciclov칤as, pavimentaci칩n, carpeta asf치ltica, hormig칩n, adoquines\\n- Edificaciones: edificios p칰blicos, colegios, hospitales, consultorios, comisar칤as, cuarteles, oficinas, sedes sociales, gimnasios, estadios, multicanchas\\n- Infraestructura deportiva: estadios, gimnasios, multicanchas, canchas, piscinas, 치reas deportivas, grader칤as, camarines, iluminaci칩n deportiva\\n- Infraestructura comunitaria: plazas, parques, 치reas verdes, juegos infantiles, mobiliario urbano, bancas, luminarias\\n- Urbanizaci칩n: loteos, urbanizaciones, habilitaci칩n de terrenos, movimiento de tierras, explanaciones, nivelaci칩n\\n- Instalaciones: el칠ctricas, sanitarias, agua potable, alcantarillado, drenaje, aguas lluvias, gas, telecomunicaciones\\n- Arquitectura: dise침o arquitect칩nico, proyectos de arquitectura, planos, especificaciones t칠cnicas, estudios de mec치nica de suelos\\n- Especialidades: estructuras, fundaciones, muros, techumbres, cubiertas, terminaciones, revestimientos, pinturas, cer치micas, pisos\\n- Accesibilidad: accesibilidad universal, rampas, barandas, se침al칠tica, demarcaci칩n, vados peatonales\\n\\nRubros espec칤ficos identificados:\\n- 72xxxxxx: Servicios de edificaci칩n, construcci칩n de instalaciones y mantenimiento\\n- 30xxxxxx: Componentes y suministros estructurales y de construcci칩n\\n- 76xxxxxx: Servicios de limpieza, descontaminaci칩n y tratamiento de residuos\\n- 72131700: Construcci칩n de edificios\\n- 72101900: Acabados de interiores\\n- 30222400: Componentes y sistemas para el techo\\n- 30222700: Estructuras y componentes de edificios' : $('Set Client Data').first().json.sector === 'transporte' ? '游닄 SECTOR: TRANSPORTE Y LOG칈STICA\\n\\nSin칩nimos clave:\\n- transporte = traslado = movilizaci칩n = servicio de transporte = arriendo de veh칤culos = servicio de movilizaci칩n\\n\\nT칠rminos aceptados del cat치logo oficial:\\n- Servicios de transporte: traslado, movilizaci칩n, conducci칩n, arriendo, servicios de transporte, transporte privado, transporte p칰blico, transporte escolar\\n- Tipos de pasajeros: escolares, estudiantes, adultos mayores, personal, funcionarios, trabajadores, pacientes, turistas, visitantes\\n- Modalidades: excursiones, giras, paseos, turismo, transfer, rutas, recorridos, itinerarios, circuitos, tours\\n- Personal: choferes, conductores, pilotos, operadores, despachadores, coordinadores de flota\\n- Veh칤culos pasajeros: buses, minibuses, furgones, vans, microbuses, colectivos, taxibuses, veh칤culos, m칩viles, autom칩viles\\n- Veh칤culos carga: camiones, camionetas, furgones de carga, tracto-camiones, remolques, semi-remolques\\n- Log칤stica: distribuci칩n, despacho, reparto, entrega, env칤o, transporte de mercanc칤as\\n- Carga: mercanc칤a, fletes, carga, bultos, paquetes, encomiendas, mudanzas, traslado de equipos\\n- Gesti칩n: administraci칩n de flotas, control de flota, seguimiento vehicular, GPS, telemetr칤a, gesti칩n de rutas\\n- Mantenimiento: mantenci칩n vehicular, reparaci칩n, servicio t칠cnico, revisi칩n t칠cnica, cambio de aceite, neum치ticos\\n- Combustibles: bencina, petr칩leo diesel, gas, combustible, abastecimiento, suministro\\n- Seguros: seguros vehiculares, SOAP, p칩lizas, coberturas\\n\\nRubros espec칤ficos identificados:\\n- 78101800: Servicios de transporte de pasajeros por carretera\\n- 78111800: Servicios de transporte escolar\\n- 78141500: Servicios de arriendo de veh칤culos\\n- 25xxxxxx: Veh칤culos comerciales, militares y particulares\\n- 24xxxxxx: Maquinaria y accesorios para manejo, acondicionamiento y almacenaje de materiales' : 'Por favor selecciona un sector v치lido en la configuraci칩n del workflow.' }}"
            },
            {
              "content": "=CLIENTE: {{ $('Set Client Data').first().json.companyName }}\n\nPALABRAS CLAVE DEL CLIENTE:\n{{ $('Set Client Data').first().json.tags }}\n\nLICITACIONES DISPONIBLES:\n{{ $json.markdown }}\n\nAnaliza las licitaciones y devuelve los c칩digos de las que coincidan con las palabras clave del cliente."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        -624,
        128
      ],
      "id": "4091d38f-b0a1-4574-97af-129827d6a1df",
      "name": "LLM filter: Anthropic",
      "credentials": {
        "anthropicApi": {
          "id": "I47FPBxj6EKHLDrv",
          "name": "Anthropic account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Set Client Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Client Data": {
      "main": [
        [
          {
            "node": "Parse Rubros",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Tenders": {
      "main": [
        [
          {
            "node": "Format Tenders for LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Matching Tenders": {
      "main": [
        [
          {
            "node": "Convert to HTML Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to HTML Table": {
      "main": [
        [
          {
            "node": "Compose Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compose Email": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Rubros": {
      "main": [
        [
          {
            "node": "Search Tenders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM filter: OpenAI": {
      "main": [
        [
          {
            "node": "Filter Matching Tenders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM filter: Google": {
      "main": [
        [
          {
            "node": "Filter Matching Tenders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM filter: Anthropic": {
      "main": [
        [
          {
            "node": "Filter Matching Tenders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Tenders for LLM": {
      "main": [
        [
          {
            "node": "LLM filter: OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0bf89290-11e4-4306-9e0f-bc7293ae63d5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c4d6fe24465d4cccbc0cf10ead0f9debe8c95c1bfcff090b3524c815bff1e4ef"
  },
  "id": "mzCoHhkR4cdmbrJU",
  "tags": []
}